@import 'src/assets/styles/colors';

.game-screen {
  width: 90vw;
  height: 100%;
  padding: 20px;
  max-width: 1000px;
  margin: auto;

  &__statistics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__cards {
    display: flex;
    justify-content: center;

    &--wrapper {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
    }
  }
}
