@import 'src/assets/styles/colors';

.game-screen {
  width: 90vw;
  height: 100%;
  padding: 20px;
  max-width: 1000px;
  margin: auto;

  &__statistics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    &__tries__value {
      font-size: 1.1em;
    }

    &__best {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__value {
        font-size: 2em;
      }
    }

    &__restart {
      background: transparent;
      font-weight: bold;
      padding: 8px 16px;
      border-radius: 3px;
    }
  }

  &__cards {
    display: flex;
    justify-content: center;

    &--wrapper {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
    }
  }
}
