<main class="game-screen">
  <div class="game-screen__statistics">
    <div class="game-screen__statistics__tries">
      Current tries: <span class="game-screen__statistics__tries__value">{{gameEngineService.tries}}</span>
    </div>
    <div class="game-screen__statistics__best">
      Best: <span class="game-screen__statistics__best__value">{{gameEngineService.best}}</span>
    </div>
    <button (click)="restart()" class="game-screen__statistics__restart">RESTART</button>
  </div>

  <div class="game-screen__cards">
    <div class="game-screen__cards--wrapper">
      <splendex-game-card *ngFor="let card of gameEngineService.fields; let index = index" [card]="card" [index]="index"></splendex-game-card>
    </div>
  </div>
</main>
